/*κύματα*/
section{
  display: grid;
  position: relative;
  width: 100%;
  height: 35vh;
  background: rgb(15, 15, 44);
  overflow: hidden;
  z-index: 1;
}
section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wavegray.png);
  background-size: 1000px 100px;
}
section .air.air1{
  animation: wave 35s linear infinite;
  z-index: 5;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2{
  animation: wave2 41s linear infinite;
  z-index: 4;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3{
  animation: wave 36s linear infinite;
  z-index: 3;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4{
  animation: wave2 22s linear infinite;
  z-index: 2;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}
* {
  box-sizing: border-box;
}

/*navigation*/
nav{
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  color: ghostwhite;
  height:10%;

  /*border που έβγαλα γιατί είναι άσχημο*/
  /*
  background-color: rgb(240,255,240,0.07);
  border-style: double;
  border-color: transparent;
  border-bottom-color: black;
  */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 2%;
  box-sizing: border-box;
}

/*link στο navigation*/
.navigation-buttons{
  float:right;
  display: flex;
  gap:0;
  text-align: center;
  font-size: 17px;
}

.navigation-buttons button{
  padding: 20px 20px 20px 20px;
  font-size: large;
  border-style: none;
  font-family: 'Century Gothic', sans-serif;
  background-color: transparent;
  color:white;
}

.navigation-buttons button.active{
  background-color: white;
  color: black;
}

.navigation-buttons button:hover{
  background-color: rgb(60,60,60,0.5);
  color:white;
  cursor: pointer;
}

/*text και εικόνα στο navigation*/
.navigation-text{
  flex:1;
  top: 20%;
  left:5%;
  display: flex;
  align-items: center;
  font-size: larger;
}

/*εικόνα logo του navigation*/
.navigation-text img {
  float: left;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

/*logo και όνομα*/
.logo-name{
  top: 17%;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background-color: rgb(40,40,40,1);
  z-index: 6;
  border-style: solid;
  border-color:#0a012c;
  border-radius: 20px;
  border-width: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 200vh;
}

/*εικόνα logo*/
.logo-name img {
  float: left;
  height: 72px;
  background-color: transparent;
  border-radius: 20px;
  z-index: 1;
}

/*κείμενο του logo*/
.logo-name h1{
  white-space: nowrap;
  font-size: 25px;
  color:white;
  padding-right: 20px;
  padding-left:20px;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow:1;
  height: auto;
  margin: 0 auto -50px;
  min-height: 100%;
  padding: 0 0 50px;
  box-sizing: border-box;
  overflow: auto;
}

.textbeforeslideshow{
  line-break: strict;
  order:1;
  padding-right: 4%;
  padding-left: 2%;
}

.textbeforeslideshow, .textafterslideshow{
  position:relative;
  left:5%;
  right:5%;
  width:90%;
}


.textbeforeslideshow h1, .textafterslideshow h1{
  position:relative;
  margin-bottom:1%;
  margin-top:3%;
}

.textbeforeslideshow h2, .textafterslideshow h2{
  position:relative;
  left: 1%
}

.textbeforeslideshow p, .textafterslideshow p{
  position:relative;
  left: 3%
}


.slideshow-container {
  border-radius: 20px;
  max-width: 500px;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  margin-bottom: 4%;
  margin-top: 4%;
}

.slideshow-container img{
  border-radius: 20px;
}

#slideshow{
  order:2;
}

/*Captions των slides*/
.caption-good, .caption-bad{
  color: #f4f4f4;
  font-size: 15px;
  text-align: center;
  padding: 8px 12px;
  position: absolute;
  bottom: 4px;
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.caption-good {
  background: rgba(20,88,20,0.6);
}
.caption-bad {
  background: rgba(88, 20, 20, 0.6);
}


/*κουκίδες κάτω από slideshow τις οποίες τελικά έβγαλα
.dots{
  text-align: center;
  padding: 8px 12px;
  position: absolute;
  bottom: -12%;
  width: 100%;
  background: rgb(230, 230, 234,0.5);
  z-index: -1;

}
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
*/

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.mySlides {
  display: none;
}

/*κουμπιά επόμενο προηγούμενο*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}


/*αριθμός  slide*/
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background: rgba(88,88,88,0.3);
  border-radius: 20px 0 10px 0;
}

*{
  margin: 0;
  padding: 0;
}


.textafterslideshow{
  order:3;
}


/*footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgb(36, 38, 43);
  color: white;
  text-align: center;
  z-index: 100;
}
.footer-header{
  font-size: large;
  padding-top: 5px;
}
.footer-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
}

body{
  background: #e5e3e3;
  font-family: 'Century Gothic', sans-serif;
  pointer-events: all;
}

/*Για το αρχείο items.html*/

/*Για την μπάρα αναζήτησης*/
.search-bar input[type=text] {
  border-radius: 8px 0 0 8px;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 45px;
  font-size: 17px;
  /*το αλλάζω?
  border: none;*/
  height: 28px;
}

.search-bar:enabled{
  border-radius: 8px 20px 0 8px;
}

.book-title{
  font-size: large;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-bar button {
  border-radius: 0 8px 8px 0;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  height: 28px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar button:hover{
  background-color: rgb(170,170,170);
}

.search-bar img {
  position: relative;
  width: 22px;
  height: 22px;
}

.search-bar{
  margin-bottom: 10px;
}

/*Για τα αποτελέσματα της αναζήτησης*/
.item-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#grid-homepage{
  order:3
}

#grid-items{
  order:2
}

.result {
  position:relative;
  max-width: 200px;
  min-width: 200px;
  border-color: rgb(47, 79, 79,0.5);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 15px;
  margin: 10px 10px 10px 10px;
}

.result img{
  width:150px;
  height:270px;
}

.price-dislike{
  position: absolute;
  width:85%;
  bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.price{
  order:1;
  position:relative;
}

.dislike-section{
  order:2;
  position:relative;

  font-weight: bold;
  font-size: large;

  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.dislike-section button{
  height:18px;
  width:18px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.dislike-section img{
  height:18px;
  width:18px;
  rotate:180deg;
}

.description{
  margin-bottom:40px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}



